/*---------- Tag Section----------*/
body
{
    background-color: rgba(202,247,227);
}
h1{
text-align: center;
color: rgb(85, 201, 201);
font-family: 'Otomanopee One', sans-serif;

}
h2{
    text-align: center;
    color: whitesmoke;
    font-family: 'Indie Flower', cursive;
}
hr{
    margin: 40px;
}
.top-section{
margin-bottom: 40px;
}
.profile-table{
    margin-left: auto;
  margin-right: auto;
  font-family: 'Caveat', cursive;
  font-family: 'Dosis', sans-serif;
  font-family: 'Otomanopee One', sans-serif;
  font-family: 'Pacifico', cursive;
}
.title-img{
    padding-left:  0;
    margin-left: 0;
    width: 50%;
    border-radius: 100%;
    text-align: left;
}
.first-cel{
    padding-right: 0;
}
.contentpara ol
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    line-height: 2;
    font-family: 'Caveat', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Pacifico', cursive;
}
.contentpara ul
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    line-height: 2;
    font-family: 'Caveat', cursive;
    font-family: 'Dosis', sans-serif;
    font-family: 'Otomanopee One', sans-serif;
    font-family: 'Pacifico', cursive;
}
.contentpara p
{
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    line-height: 2;
    text-align: center;
    font-family: 'Dosis', sans-serif;
font-family: 'Otomanopee One', sans-serif;
}
.sub-tittle{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    font-family: 'Indie Flower', cursive;
    font-family: 'Montserrat Alternates', sans-serif;
color: blue;
}

.subtable td{
    padding-right: 100px;
}
.divtittle{
    background-color: rgb(22, 146, 204);
}
.subtable{
    background-color: rgb(146, 236, 227);
    padding-left:  500px;
    border: thistle;
    border-style: solid;
}
